# Development(Local) Env File
# ------------------------------------------------------------------------------

DEBUG=True
DJANGO_ENVIRONMENT="local"

# Security
SECRET_KEY="django-insecure-!your-secret-key-here!"

# Database Configuration (Docker PostgreSQL)
POSTGRES_DB=give_your_db_name_here
POSTGRES_USER=give_your_db_user_here
POSTGRES_PASSWORD=give_your_db_password_here
POSTGRES_HOST=give_your_db_host_here
POSTGRES_PORT=give_your_db_port_here

# Redis Configuration
REDIS_URL=redis://redis:6379/0

# Celery Configuration
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Email Configuration (Optional)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

# Static and Media Files
STATIC_URL=/static/
MEDIA_URL=/media/
