asgiref==3.7.2
Django==4.2.7
packaging==23.1
python-dotenv==1.0.0
sqlparse==0.4.4
whitenoise==6.5.0
openpyxl==3.1.2
weasyprint==60.2

# Database
psycopg2-binary==2.9.9

# Celery and Redis
celery==5.3.4
redis==5.0.1
django-celery-beat==2.5.0
django-celery-results==2.5.1

# Production server
gunicorn==21.2.0

# Additional utilities
Pillow==10.1.0
requests==2.31.0

xhtml2pdf==0.2.17
